.frontPageCardContainer {
    width: 50%;
    height: 90%;
    margin: 5rem 25%;
    box-shadow: 0 4px 8px 0 lightblue, 0 6px 20px 0 lightblue !important;
}

.actvtList:last-child {
    margin-bottom: 2rem;
}

.listPara:last-child {
    margin-top: 1rem;
    font-weight: bold;
    color: darkorchid;
    font-size: 1.1rem;
}