.cabinCardContainer {
    width: 30%;
    height: 45%;
    margin-left: 3rem;
    border: 5px solid rgba(9, 85, 199, 0.788);
}

.cabinCard1 {
    margin-left: 0;
}

svg {
    vertical-align: -0.6rem;
}