.cabinCardContainer {
    width: 30%;
    height: 45%;
    margin-left: 3rem;
    box-shadow: 0 2px 2px 0 darkorchid, 0 3px 5px 0 darkorchid !important;
}

.cabinCard1 {
    margin-left: 0;
}

svg {
    vertical-align: -0.6rem;
}