.cabinCardContainer {
    width: 30%;
    height: 41rem;
    margin-left: 3rem;
    min-width: 25rem;
    box-shadow: 0 2px 2px 0 lightblue, 0 3px 5px 0 lightblue !important;
}

.cabinCard1 {
    margin-left: 0;
}

svg {
    vertical-align: -0.6rem;
}