.summerCardContainer {
    width: 30%;
    height: 46rem;
    margin-left: 3rem;
    margin-bottom: 3rem;
    box-shadow: 0 2px 2px 0 darkorchid, 0 3px 5px 0 darkorchid !important;
}

.summerCard1 {
    margin-left: 0;
}

.summerCard4 {
    margin-left: 0;
}

.summerCard7 {
    margin-left: 0;
}
